<div class="container">
	<div class="row">
		<div class="form-group">
		   <label for="email">Player Game:</label>
		   <input type="text" class="form-control" id="player_game" ng-model="player_game">
		</div>
		<div class="form-group">
		   <label for="email">Date:</label>
		   <input type="date" class="form-control" id="date" ng-model="date">
		</div>
		<div class="form-group">
		   <label for="email">Score:</label>
		   <input type="number" class="form-control" id="score" ng-model="score">
		</div>
		<button ng-click="setData()" type="submit" class="btn btn-default">Submit</button>
    </div>
</div>
