<div class="container" ng-controller="HomeCtrl as hctrl">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 45px; margin-bottom: 50px;">
            <a ui-sref="home.add"><button style="width:100%" type="button" class="btn btn-primary">Add</button></a>
        </div>
        <div class="col-sm-6" style="margin-top: 45px; margin-bottom: 50px;">
            <a ui-sref="home.view"><button style="width:100%" type="button" class="btn btn-primary">View</button></a>
        </div>
    </div>
    <div class="row">
        <div ui-view>

        </div>
    </div>
</div>
