<div class="container">
	<div class="row">
        <div class="col-sm-12" style="margin-top: 10px; padding-left: 0px;">

        	<div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">

                <div class="col-sm-12" style="padding-left: 30px;">
                    <table class="table table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th style="text-align: center;">Player Game</th>
                        <th style="text-align: center;">Date</th>
                        <th style="text-align: center;">Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in scores" id="id-{{ data.id }}" ng-if="scores.length != 0">
                        <td style="text-align: center;">{{data.player_game | uppercase }}</td>
                        <td style="text-align: center;">{{data.date}}</td>
                        <td style="text-align: center;">{{data.score}}</td>
                    </tr>
                    <tr ng-if="scores.length == 0">
                        <td colspan="4">no data to display</td>
                    </tr>
                </tbody>
            </table>
                </div>
            </div>

        </div>

    </div>

</div>
