<!DOCTYPE html>
    <html data-ng-app="Ranking" data-ng-controller="HomeCtrl as trctrl">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title update-title>Ranking</title>
        <link href="vendors/bower_components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="vendors/bower_components/bootstrap/css/login.css" rel="stylesheet">
        <link href="vendors/bower_components/bootstrap/css/modal.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <base href="/">
        <?php echo $this->getContent(); ?>
        <div ui-view class="content-page" id="initial-page-content"></div>

        <script type="text/javascript">
            var baseUrl = '<?php echo $this->baseurl; ?>'
        </script>
        <script type="text/javascript" src="vendors/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="vendors/bower_components/bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="vendors/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="vendors/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="vendors/bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript" src="js/controllers/home.js"></script>
    </body>
</html>
